.formContainer {
height: 400px;
width: 100%;
background: url("/carbanner.jpg") no-repeat center;
}

.mainLeft {
    text-align: left;
    font-size: 16px;
    position: relative;
    top: 20px;
    left: 50px;
    width: 45%;
    height: 350px;
    color: #fff;

}