/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }

#vidWrapper {
  height: 500px;
  width: 100%;
  overflow: hidden;
}
  